
.app-container {
    display: flex;
    flex-direction: column;

    position: relative;

    color: rgb(238, 238, 238);
    z-index: 1;

    width: 100%;
}

.app-container.inverted {
    flex-direction: column-reverse;
}

.app-container.resizing {
    background-color: rgba(1,1,1,0.5);
}