
.icon {
    position: relative;

    object-fit: contain;
    image-rendering: pixelated;

    -webkit-app-region: no-drag;
    pointer-events: all;

    padding: 0 2px;

    filter: brightness(30%);
}

.icon.button {
    cursor: pointer;
}

.icon:hover {
    filter:brightness(80%);
}

.icon.active {
    filter:brightness(100%);
}