.player-list {
    height: 100%;
    overflow: hidden;
}

.player-list.editMode,
.player-list.dragging {
    background-color: rgba(1,1,1,0.5);

    border-left: dashed 1px black;
    border-right: dashed 1px black;
    border-bottom: dashed 1px black;
}