.player-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;

    letter-spacing: 1px;
    font-size: 13px;
    height: 20px;
}

.player-container.you {
    background-color:rgba(44, 1, 1, 0.8);
}

.player-info-container {
    display: flex;
    flex: 1;
    justify-self: center;

    padding-left: 4px;

    height: 100%;
    position: relative;

    background-image: url('./assets/img/background-dots.png');
    background-repeat: repeat;
    background-color: rgba(1,1,1,0.3);

    overflow: hidden;
}

.player-position {
    flex-shrink: 0;

    position: relative;
    top: 1px;
}

.player-name {
    text-transform: capitalize;

    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;

    color: white;

    position: relative;
    top: 1px;
}

.player-icon {
    object-fit: cover;

    background-color: black;

    width: 22px;
    height: 100%;
}

.player-numbers {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;

    padding: 0 4px;

    word-break: break-all;
    white-space: nowrap;

    position: relative;
    top: 1px;
}