@font-face {
    font-family: 'Accidental Presidency';
    src: url('./assets/fonts/AccidentalPresidency.woff2') format('woff2'),
        url('./assets/fonts/AccidentalPresidency.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}