html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    margin: 0;

    display: flex;
}

h1,h2,h3,h4 {
    margin: 0;
}

main {
    display: flex;

	width: 300px;
    height: 126px;

	position: relative;

    font-family: 'Accidental Presidency', sans-serif;
    font-size: 14px;
    font-weight: 100;

    text-shadow: 2px 2px #000;
}

*:not(input) {
	user-select: none;
}

img {
    pointer-events: none;
}

a {
    text-decoration: none;
}

/*========================
  SCROLL BAR
*/
::-webkit-scrollbar {
    width: 8px;
    background: #1b1a1a;

    -webkit-appearance: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    width: 8px;

    height: 2px;
    min-height: 2px !important;

    background: rgba(185, 185, 185, 0.315);
}

.hidden {
    display: none !important;
}