html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    margin: 0;

    text-rendering: optimizeLegibility;
    touch-action: manipulation;
    -ms-content-zooming: none;

    word-wrap: break-word;
    overscroll-behavior-y: none;
    text-size-adjust: none;

    -webkit-app-region: drag;

    display: flex;
}

h1,h2,h3,h4 {
    margin: 0;
}

main {
    display: flex;

    /* Default starting sizes */
    width: 245px;
    height: 100px;

	position: relative;

	-webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-font-smoothing: antialiased !important;
    text-shadow: #000 0px 1px 1px !important;

    font-size: 12px !important;
    font-family: 'Accidental Presidency' !important;
}

* {
    user-select: none;
    box-sizing: border-box;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

img {
    pointer-events: none;
}

a {
    text-decoration: none;
}

/*========================
  SCROLL BAR
*/
::-webkit-scrollbar {
    width: 8px;
    background: #1b1a1a;

    -webkit-appearance: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    width: 8px;

    height: 2px;
    min-height: 2px !important;

    background: rgba(185, 185, 185, 0.315);
}

.hidden {
    display: none !important;
}